# The expected answer for Clearance Level 1 (college name check in AuthModal)
NEXT_PUBLIC_TARGET_COLLEGE=

# The expected answer for Clearance Level 2 (date of birth check in AuthModal)
NEXT_PUBLIC_TARGET_DOB=
